<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>biglovenew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServet</display-name>
    <servlet-name>LoginServet</servlet-name>
    <servlet-class>com.example.servet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServet</servlet-name>
    <url-pattern>/Login.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.example.servet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoUpdateServlet</display-name>
    <servlet-name>UserInfoUpdateServlet</servlet-name>
    <servlet-class>com.example.servet.UserInfoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoUpdateServlet</servlet-name>
    <url-pattern>/userInfoUpdate.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoGetServlet</display-name>
    <servlet-name>UserInfoGetServlet</servlet-name>
    <servlet-class>com.example.servet.UserInfoGetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoGetServlet</servlet-name>
    <url-pattern>/userInfoGet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishHdServlet</display-name>
    <servlet-name>PublishHdServlet</servlet-name>
    <servlet-class>com.example.servet.PublishHdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishHdServlet</servlet-name>
    <url-pattern>/publishHd.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HdInfoGetServlet</display-name>
    <servlet-name>HdInfoGetServlet</servlet-name>
    <servlet-class>com.example.servet.HdInfoGetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HdInfoGetServlet</servlet-name>
    <url-pattern>/gethdInfo.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHdServlet</display-name>
    <servlet-name>UserHdServlet</servlet-name>
    <servlet-class>com.example.servet.UserHdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHdServlet</servlet-name>
    <url-pattern>/userhdInfo.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHdUpdateServelt</display-name>
    <servlet-name>UserHdUpdateServelt</servlet-name>
    <servlet-class>com.example.servet.UserHdUpdateServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHdUpdateServelt</servlet-name>
    <url-pattern>/updatehdinfo.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCollectWhoServlet</display-name>
    <servlet-name>UserCollectWhoServlet</servlet-name>
    <servlet-class>com.example.servet.UserCollectWhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCollectWhoServlet</servlet-name>
    <url-pattern>/userCollectPerson.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WhoCollectUserServlet</display-name>
    <servlet-name>WhoCollectUserServlet</servlet-name>
    <servlet-class>com.example.servet.WhoCollectUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WhoCollectUserServlet</servlet-name>
    <url-pattern>/whoCollectUser.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectHdServlet</display-name>
    <servlet-name>CollectHdServlet</servlet-name>
    <servlet-class>com.example.servet.CollectHdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectHdServlet</servlet-name>
    <url-pattern>/collectSomeHd.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelCollectHdServlet</display-name>
    <servlet-name>CancelCollectHdServlet</servlet-name>
    <servlet-class>com.example.servet.CancelCollectHdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelCollectHdServlet</servlet-name>
    <url-pattern>/cancelCollectHd.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonColletcServlet</display-name>
    <servlet-name>PersonColletcServlet</servlet-name>
    <servlet-class>com.example.servet.PersonColletcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonColletcServlet</servlet-name>
    <url-pattern>/collectPerson.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelCollectSomeoneServlet</display-name>
    <servlet-name>CancelCollectSomeoneServlet</servlet-name>
    <servlet-class>com.example.servet.CancelCollectSomeoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelCollectSomeoneServlet</servlet-name>
    <url-pattern>/cancelCollectSomeone.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCollectHdInfoServlet</display-name>
    <servlet-name>UserCollectHdInfoServlet</servlet-name>
    <servlet-class>com.example.servet.UserCollectHdInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCollectHdInfoServlet</servlet-name>
    <url-pattern>/usercollecthdinfo.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HdCollectAcaiableServlet</display-name>
    <servlet-name>HdCollectAcaiableServlet</servlet-name>
    <servlet-class>com.example.servet.HdCollectAcaiableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HdCollectAcaiableServlet</servlet-name>
    <url-pattern>/collectHdAvaiable.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsCollectPersonServlet</display-name>
    <servlet-name>IsCollectPersonServlet</servlet-name>
    <servlet-class>com.example.servet.IsCollectPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsCollectPersonServlet</servlet-name>
    <url-pattern>/IsCollectPerson.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsCollectHdServlet</display-name>
    <servlet-name>IsCollectHdServlet</servlet-name>
    <servlet-class>com.example.servet.IsCollectHdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsCollectHdServlet</servlet-name>
    <url-pattern>/IsCollectHd.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpLoadHdImgServlet</display-name>
    <servlet-name>UpLoadHdImgServlet</servlet-name>
    <servlet-class>com.example.servet.UpLoadHdImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpLoadHdImgServlet</servlet-name>
    <url-pattern>/UpLoadHdImgServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpLoadUserImgServlet</display-name>
    <servlet-name>UpLoadUserImgServlet</servlet-name>
    <servlet-class>com.example.servet.UpLoadUserImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpLoadUserImgServlet</servlet-name>
    <url-pattern>/UpLoadUserImgServlet.json</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>AllHdServlet</display-name>
    <servlet-name>AllHdServlet</servlet-name>
    <servlet-class>com.example.servet.AllHdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllHdServlet</servlet-name>
    <url-pattern>/AllHdServlet.json</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>TimelineServlet</display-name>
    <servlet-name>TimelineServlet</servlet-name>
    <servlet-class>com.example.servet.TimelineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimelineServlet</servlet-name>
    <url-pattern>/TimelineServlet.json</url-pattern>
  </servlet-mapping>
</web-app>